:root {
    --front-color: #e0e0e0;
    --back-color: #bcbcbc;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}


.form-container {
    display: grid;
    grid-template-columns: 100px 350px 100px;
    grid-template-rows: 50px 200px 100px 10px 35px;
}

/* back card */
.card-back {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: var(--back-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    display: grid;
    grid-template-rows: 40px 1fr;
    padding: 20px 0;
    z-index: 1;
}

.magnetic-strip {
    background: #000;
    height: 45px;
    width: 100%;
}

.cvc-container {
  margin-left: auto;
  margin-right: 20px;
  margin-left: 360px;
  margin-top: 100px;
  width: 80px;
}

.magnetic-strip {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  width: 100px;
}

/* front card */
.card-front {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: var(--front-color);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    z-index: 2;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border: 1px solid #999;
}

input {
    border: 1px solid #999;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.total {
  grid-column: 1;
  font-weight: bold;;
}

.chip {
  grid-column: 2;
  text-align: right;
}

.card-number-field {
  grid-column: 1 / 2;
}

.card-holder-field {
  grid-column: 1 / 2;
}

.exp-inputs {
  display: flex; gap: 5px;;
}

/* Submit button */
#submitButton {
    grid-column: 3;
    grid-row: 5;
    padding: 10px 20px;
    cursor: pointer;
    background: white;
    border: 1px solid #000;
    border-radius: 5px;

}

/* Feedback */
#feedback {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
.hide {
  display: none;
}
.error {
  color: red; border:
  1px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}