
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #ffffff;
    color: rgb(61, 61, 61);
    padding: 20px 0;
    text-align: center;
}

nav {
    border-top: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107; 
    padding: 10px 0;
    margin-top: 20px;
}

#main-content {
    max-width: 900px;
    margin: 0 auto;  
    padding: 0 20px; 
}

.main-nav {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;    
    justify-content: center; 
    gap: 20px;
}

.main-nav li {
    padding: 0;
}
.main-nav a {
    color: #af0000;
    text-decoration: none;
    font-weight: bold;
}
#book-list {
    padding: 0 2rem;
}
.book {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 3rem;
    gap: 1rem;
}

.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1rem 0;
}
.book p {
    padding-left: 20px;
}

.book-info {
  text-align: right;
  font-size: 0.9rem;
}

.book img {
  width: 300px;
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto 1rem auto;
}

.desc {
    grid-column: 1/3;
}

@media (min-width: 800px) {

    .book {
        display: grid;
        grid-template-columns: 150px 2px 1fr;
        align-items: start;
        gap: 2rem;
    }

    .book-details img {
        margin: 0;
        width: 250px;
    }

    .book-details {
      grid-column: 3;
    }

    .book-info {
      grid-column: 1;
      text-align: right;
      border-right: 2px solid #ffc107;
      padding-right: 1.5 rem;
    }

}
          